@import "_normalize.scss";

/* #region globals */

$size: 1em;

$white: #fff;
$black: #000;
$black-50: rgba($black, 0.9);
$black-80: rgba($black, 0.7);
$dark: #4a5358;
$red: #fd5353;
$light: #f4f3f3;
$blue: #98afb9;
$blue-light: #6bbee7;
$blue-gradient: linear-gradient(-135deg, rgba(darken($blue, 20%),1) 0%,rgba(lighten($blue, 20%),1) 100%);
$bg: #f6e4ac;


/* #endregion globals */

/* #region normalize */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  direction: rtl;
  background: $bg;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.app {
  text-align: center;
}


/* #endregion normalize */

/* #region mixins */

%box-shadow-1 {
  box-shadow: inset 0 0 0 1px rgba(darken($light, 90%), 0.5);
}

%box-shadow-2 {
  box-shadow: inset 0 0 0 2px rgba(darken($light, 90%), 0.5);
}

%border-1-80 {
  border: 1px solid rgba(darken($light, 90%), 0.8);
}

%border-1-50 {
  border: 1px solid rgba(darken($light, 90%), 0.5);
}

%border-1-20 {
  border: 1px solid rgba(darken($light, 90%), 0.2);
}

%border-025 {
  border: 0.25em solid $dark;
}

%bevel-outer {
  box-shadow: inset 0.125em 0.125em 0.125em rgba(darken($light, 60%), 0.4), inset -0.125em -0.125em 0.125em rgba(darken($light, 90%), 0.4), 0 0.125em 0.125em 0 rgba(darken($light, 60%), 0.4);
}

%bevel-outer-lg {
  box-shadow: inset 0 0.25em 0.25em rgba(darken($light, 60%), 0.4), inset 0 0 0.25em rgba(darken($light, 90%), 0.4), 0 0.125em 0.125em 0 rgba(darken($light, 60%), 0.4);
}

%bevel-outer-bottom-lg {
  box-shadow: inset 0 0 0.25em rgba(darken($light, 90%), 0.4), 0 0.125em 0.125em 0 rgba(darken($light, 60%), 0.4);
}

%bevel-inner {
  box-shadow: inset 0.125em 0.125em 0.125em rgba(darken($light, 90%), 0.2), inset -0.125em -0.125em 0.125em rgba(darken($light, 40%), 0.4), 0 0 0.125em rgba(darken($light, 60%), 0.4);
}

%bevel-inner-bottom {
  box-shadow: inset 0 -0.125em 0.25em rgba(darken($light, 90%), 0.2);
}

%box-shadow-1-bottom {
  box-shadow: inset 0 -1px 0 0  $black-50;
}

%bevel-dark-strong-sm {
  box-shadow: inset 0 0 0.25em rgba($black, 0.8);
}

%bevel-dark-strong {
  box-shadow: inset 0 0 0.5em rgba($black, 0.8);
}

%bevel-dark-strong-xl {
  box-shadow: inset 0 0 2em rgba($black, 1);
}

%bevel-dark-strong-lg {
  box-shadow: inset 0 0 0.5em rgba($black, 0.8), 0 0 0.5em rgba($black, 0.8);
}

%pseudo {
  display: block;
  content: "";
  position: absolute;
}

%sideWindowsItemPseudo {
  @extend %pseudo;
  width: 6em;
  height: 0.5em;
  background: $light;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  right: -1em;
  @extend %bevel-inner;
}


@mixin on-circle($item-count, $circle-size) {
  position: absolute;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
      }
      $rot: $rot + $angle;
    }
  }
}

/* #endregion mixins */

/* #region btns */

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .btn-group {
    margin: 1em;
    display: flex;
    .btn {
      @extend %border-025;
      border-radius: 50%;
      width: 3em;
      height: 3rem;
      background: transparent;
      padding: 0;
      margin: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      color: $dark;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: $light;
      }
      &.btn-blue {
        background: $blue-light;
        &:hover {
          background: darken($blue-light, 10%);
        }
      }
      &.btn-red {
        background: $red;
        &:hover {
          background: darken($red, 10%);
        }
      }
      &[disabled=disabled] {
        opacity: 0.5;
      }
    }
  }
}


/* #endregion btns */

/* #region trolleybus */

.trolleybuscontainer {
  width: 94%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 4em 0;

  &::-webkit-scrollbar {
    width: 2em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5em $dark;
    border-radius: 1em;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($dark, 0.8);
    border-radius: 1em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $dark;
  }
}

.trolleybus {
  display: inline-flex;
  flex-direction: column;
  margin: 8em 3em  3em;
  &-top {
    background: $light;
    height: 2em;
    width: 100%;
    @extend %bevel-outer-lg;
    position: relative;
    &-rectangles {
      &-item {
        position: absolute;
        &:nth-child(1) {
          width: 6.5em;
          height: 0.75em;
          top: - 0.75em;
          right: 36em;
          background: $light;
          @extend %bevel-inner;
        }
        &:nth-child(2) {
          /*border-bottom: 1.5em solid $light;
          border-right: 1em solid transparent;
          height: 0;
          width: 6.25em;
          right: 34.75em;
          top: -2.25em;*/
        }
      }
    }
    &-horns {
      position: absolute;
      left: 41em;
      top: -2em;
      &:after,
      &:before {
        @extend %pseudo;
        background: lighten($dark, 20%);
        width:  0.375em;
        bottom: -2em;
        @extend %bevel-dark-strong;
      }
      &:before {
        height: 1em;
        right: 0.25em;
      }
      &:after {
        height: 3.825em;
        right: 40em;
      }
      &-item {
        width: 45em;
        height: 1.5em;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        transform: translate3d(0, -(1.5em), 0) rotate3d(1, 1, 1, 6deg);
        &-part {
          background: lighten($dark, 30%);
          flex-grow: 1;
          margin: 0 -2px;
          @extend %bevel-dark-strong;
          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(5),
          &:nth-child(7),
          &:nth-child(10) {
            border-radius: 0.5em;
          }
          &:nth-child(1) {
            height: 1.125em;
            flex-grow: 1;
            margin-bottom: -0.25em;
          }
          &:nth-child(2) {
            height: 0.675em;
            flex-grow: 1;
          }
          &:nth-child(3) {
            height: 1.125em;
            flex-grow: 2;
          }
          &:nth-child(4) {
            height: 0.675em;
            flex-grow: 1;
          }
          &:nth-child(5) {
            height: 0.825em;
            flex-grow: 7;
          }
          &:nth-child(6) {
            height: 0.675em;
          }
          &:nth-child(7) {
            height: 1em;
            flex-grow: 1;
          }
          &:nth-child(8) {
            height: 0.5em;
            flex-grow: 20;
          }
          &:nth-child(9) {
            height: 0.25em;
            flex-grow: 10;
          }
          &:nth-child(10) {
            height: 1em;
          }
        }
      }
    }
  }
  &-blocks {
    display: flex;
    &-item {
      display: flex;
      background: $light;
      height: 17.875em;
    }
  }
}

/* #endregion trolleybus */

/* #region door */

.door {
  display: flex;
  margin-top: 1.5em;
  position: relative;
  .trolleybus-blocks-item:not(.trolleybus-blocks-item-0):not(.trolleybus-blocks-item-1):not(.trolleybus-blocks-item-2) & {
    &:before {
      @extend %sideWindowsItemPseudo;
      top: -4em;
    }
  }
  &:after {
    @extend %pseudo;
    width: 120%;
    height: 0.5em;
    bottom: calc(-0.5em + 1px);
    left: -10%;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: $light;
    @extend %bevel-outer-bottom-lg;
    z-index: 1;
  }
  &-half {
    display: flex;
    @extend %border-1-80;
    &-item {
      @extend %bevel-outer;
      padding-bottom: 2em;
      background: $light;
      &-window {
        width: 1.5em;
        height: 6em;
        border-radius: 0.5em;
        margin: 0.5em;
        background: $blue-gradient;
        @extend %border-025;
        .trolleybus-blocks-item:not(.trolleybus-blocks-item-1) &.position-bottom {
          background: $light;
          @extend %bevel-inner;
          @extend %border-1-20;
        }
      }
    }
  }
}

/* #endregion door */

/* #region side */

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .red & {
    background: $red;
  }
  .blue & {
    background: $blue-light;
  }
  &-windows {
    display: flex;
    background: $light;
    border-bottom-right-radius: $size;
    border-bottom-left-radius: $size;
    @extend %bevel-outer-bottom-lg;
    .trolleybus-blocks-item-2 & {
      padding-left: 2.5em;
    }
    .trolleybus-blocks-item-0 & {
      border-bottom-right-radius: 0;
    }
    .trolleybus-blocks-item.last & {
      border-bottom-left-radius: 0;
      padding-right: 3.5em;
    }
    &-item {
      width: 10em;
      height: 7em;
      @extend %border-025;
      border-radius: 0.5em;
      margin: 0.25em 0.5em  0.5em;
      background: $blue-gradient;
      position: relative;
      .trolleybus-blocks-item-0 & {
        &:first-child {
          width: 1.5em;
          margin-right: 0;
          margin-left: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-child {
          width: 3em;
        }
      }
      .trolleybus-blocks-item.last & {
        width: 1.5em;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &-top {
        display: flex;
        height: 3.5em;
        border-bottom: 0.375em solid $light;
        width: calc(100% - 2px);
        margin: 1px;
        li {
          width: calc(50% + 0.375em);
          @extend %bevel-inner-bottom;
        }
        &-right {
          border-left: 0.375em solid $light;
          margin-left: -0.1875em;
          border-top-right-radius: 0.5em;
        }
        &-left {
          border-right: 0.375em solid $light;
          margin-right: -0.1875em;
          border-top-left-radius: 0.5em;
        }
      }
      .trolleybus-blocks-item:not(.trolleybus-blocks-item-0) & {
        &:after {
          @extend %sideWindowsItemPseudo;
          top: -3em;
        }
      }
      .trolleybus-blocks-item:not(.trolleybus-blocks-item-1) & {
        &:first-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &-bottom {
    display: flex;
    height: 3em;
    background: $light;
    justify-content: flex-end;
    @extend %bevel-outer-lg;
    position: relative;
    .trolleybus-blocks-item-1 & {
      justify-content: flex-start;
    }
    &-item {
      &:not(.wheel-exist) {
        width: 2.5em;
        height: 1.75em;
        margin: 0.375em;
        @extend %bevel-inner;
        @extend %border-1-20;
        border-radius: 0.5em;
        &:first-child {
          width: 3.5em;
        }
      }
      .trolleybus-blocks-item-0 & {
        &:first-child {
          width: 2.5em;
        }
      }
      .trolleybus-blocks-item-1 &,
      .trolleybus-blocks-item.last & {
        width: unset!important;
        height: auto;
        box-shadow: none;
        border: 0;
        margin: 0;
      }
    }
    &:before,
    &:after {
      @extend %pseudo;
      @extend %bevel-inner-bottom;
      height: $size;
      background: $light;
      top: -$size;
    }
    &:before {
      left: 0.375em;
      width: 2.5em;
      .trolleybus-blocks-item-1 & {
        width: 12.5em;
      }
      .trolleybus-blocks-item.last & {
        display: none;
      }
    }
    &:after {
      right: 0.375em;
      width: 8em;
      .trolleybus-blocks-item-0 &,
      .trolleybus-blocks-item-1 & {
        display: none;
      }
      .trolleybus-blocks-item-2 & {
        width: 10.5em;
      }
      .trolleybus-blocks-item.last & {
        width: 3.5em;
      }
    }
  }
  &.side-simple {
    width: 1.5em;
    position: relative;
    &:before {
      @extend %pseudo;
      background: $light;
      top: 0;
      left: 0;
      width: 100%;
      height: 8em;
    }
    .side-bottom {
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

.wheel {
  width: 10em;
  height: 10em;
  margin-top: -2em;
  position: relative;
  &-frame {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 10em;
    height: 5em;
    overflow: hidden;
    &:before {
      @extend %pseudo;
      top: 0;
      left: 0;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      @extend %bevel-outer;
    }
  }
  &-body {
    position: absolute;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    @extend %bevel-dark-strong-xl;
    background: lighten($dark, 10%);
    top: 0.5em;
    left: 0.5em;
    &-external {
      @include on-circle($item-count: 24, $circle-size: 8.5em);
      top: 0.25em;
      left: 0.5em;
      &-item {
        @extend %bevel-dark-strong;
        border-bottom-right-radius: 0.25em;
        border-top-right-radius: 0.25em;
        border-left: 0;
        width: 0.5em;
        height: 1em;
        margin: -0.5em;
      }
    }
    &-internal1 {
      @include on-circle($item-count: 5, $circle-size: 2.75em);
      top: 3em;
      left: 3em;
      z-index: 2;
      &-item {
        border-right: 1em solid $black-80;
        border-top: 0.5em solid transparent;
        border-bottom: 0.5em solid transparent;
        width: 0;
        height: $size;
        margin: -(0.375em);
      }
    }
    &-internal2 {
      @include on-circle($item-count: 5, $circle-size: 2.75em);
      top: 3.175em;
      left: 3.175em;
      z-index: 2;
      transform: rotate(37deg);
      &-item {
        width: 0.5em;
        height: 0.5em;
        margin: -0.325em;
        border-radius: 50%;
        @extend %bevel-dark-strong-sm;
      }
    }
    &-circle1,
    &-circle2 {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      @extend %bevel-dark-strong-lg;
    }
    &-circle1 {
      width: 4em;
      height: 4em;
      margin: -2em;
      background: $dark;
    }
    &-circle2 {
      width: 1.5em;
      height: 1.5em;
      margin: -0.75em;
      background: lighten($dark, 10%);
    }
  }

}

/* #endregion side */

/* #region separator */

.separator {
  display: flex;
  width: 8.5em;
  margin-top: -2em;
  &-block {
    width: calc(50% - 0.25em);
    display: flex;
    &:last-child {
      margin-right: 0.5em;
      position: relative;
      &:before {
        @extend %pseudo;
        width: 0.5em;
        height: 100%;
        background: lighten($dark, 10%);
        top: 0;
        right: -0.5em;
        @extend %bevel-dark-strong;
      }
    }
    &-item {
      display: flex;
      > div {
        width: 0.25em;
        position: relative;
        &:before,
        &:after {
          @extend %pseudo;
          width: 0;
          height: 0;
          right: 0;
        }
        &:before {
          top: -0.25em;
        }
        &:after {
          bottom: -0.25em;
        }
      }
      &-right {
        background: lighten($dark, 10%);
        &:before {
          border-bottom: 0.25em solid lighten($dark, 10%);
          border-right: 0.25em solid transparent;
        }
        &:after {
          border-top: 0.25em solid lighten($dark, 10%);
          border-right: 0.25em solid transparent;
        }
      }
      &-left {
        background: $dark;
        &:before,
        &:after {
          border-left: 0.25em solid transparent;
        }
        &:before {
          border-bottom: 0.25em solid $dark;
        }
        &:after {
          border-top: 0.25em solid $dark;
        }
      }

    }
  }
}

/* #endregion separator */

/* #region front and back */

.front,
.back {
  position: relative;
  div {
    position: absolute;
    z-index: 1;
    @extend %bevel-outer;
    background: $light;
  }
}

.bumper {
  width: 1.75em;
  height: 2em;
  border-radius: 0.5em;
  bottom: 0;
  .front & {
    right: -0.5em;
  }
  .back & {
    left: -0.5em;
  }
}

.light {
  width: 0.25em;
  height: 1.5em;
  bottom: 4em;
  .front & {
    right: -0.25em;
  }
  .back & {
    left: -0.25em;
  }
}

.wiper {
  width: 0.25em;
  height: 4em;
  bottom: 10em;
  .front & {
    right: -0.5em;
    &:before {
      @extend %pseudo;
      bottom: 0;
      right: 0;
      background: $dark;
      width: 0.5em;
      height: 0.25em;
    }
  }
}

.mirrow {
  width: 1.25em;
  height: 1.75em;
  bottom: 13em;
  border-radius: 0.5em;
  .front & {
    right: -1em;
    z-index: 2;
    &:before {
      @extend %pseudo;
      bottom: 0.875em;
      right: 0.5em;
      border-top-right-radius: 0.5em;
      border-right: 0.25em solid $dark;
      border-top: 0.25em solid $dark;
      width: 0.5em;
      height: 4em;
    }
  }
}

.handle {
  bottom: 9em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-left: 0.25em solid $dark;
  border-top: 0.25em solid $dark;
  border-bottom: 0.25em solid $dark;
  width: 1em;
  height: 9em;
  .back & {
    left: -1em;
    background: transparent;
    box-shadow: none;
  }
}

/* #endregion front and back */

@media (max-width:500px) {

  .btns .btn-group {
      margin: 0.5em;
      .btn {
        width: 2.5em;
        height: 2.5rem;
        margin: 0.125em;
        border-width: 0.125rem;
      }
  }

  .trolleybuscontainer {
      padding: 0 0 2em;
      .trolleybus {
        margin-top: 5em;
      }
  }
}
